header {
  /* Dando espaço entre as palavras em cima e em baixo e gap entre as palavras, para afastar */
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  /* border: 4px solid orange; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* header - mobile */
@media (width < 80em) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }
}



#profile {
  /* border: 2px solid red; */

  display: flex;
  gap: 32px;
}



/* #profile - mobile */
@media (width < 80em) {
  #profile {
    flex-direction: column;
    padding-inline: 30px;
  }
}



/* Profile vai pegar o primeiro filho DIV com sinal de > 'maior' */
#profile > div {
  /* border: 4px solid pink; */
  
  max-width: 384px;
}

/* Aqui é definir as propriedade da imgem do perfil maior para se comportar melhor ao encolher e telas menores */
#profile img {
  width: 176px;
  height: 176px;
  object-fit: cover;
  border-radius: 50px; /*Vai cobrir todo o espaço 40px por 40px sem perder qualidade */
}


#profile h1 {
  /* border: 2px solid blue; */

  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile p {
  /* border: 2px solid maroon; */
} 



#info {
  /* border: 3px solid yellow; */

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* Definido o tamanho da caixa da localização do lado direito */
  width: 280px;
}


/* #info - mobile */
@media (width < 80em) {
  #info {
    margin-top: 32px;
    padding-inline: 32px;
  }
}



#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}